<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-iap-renewables"
    version="1.0.0">

    <name>Renewables</name>
	<description>Cordova Renewable Products Purchase plugin for iOS (AppStore)</description>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>
    <repo>https://github.com/andregrillo/cordova-iap-renewables.git</repo>
    <issue>https://github.com/andregrillo/cordova-iap-renewables/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/store-ios.js" name="InAppPurchase">
            <clobbers target="store" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="InAppPurchase">
                <param name="ios-package" value="InAppPurchase" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/InAppPurchase.h" />
        <source-file src="src/ios/InAppPurchase.m" />
        <header-file src="src/ios/SKProduct+LocalizedPrice.h" />
        <source-file src="src/ios/SKProduct+LocalizedPrice.m" />
        <header-file src="src/ios/SKProductDiscount+LocalizedPrice.h" />
        <source-file src="src/ios/SKProductDiscount+LocalizedPrice.m" />
        <header-file src="src/ios/FileUtility.h" />
        <source-file src="src/ios/FileUtility.m" />

        <framework src="StoreKit.framework" />
    </platform>
</plugin>
